<div header></div>
<div sidenav></div>
<div class="container-fluid dashboardContainer">
<div class="container-fluid dashboardContentHolder">
  <div class="row dashboardgrid">
    <div class="col-md-12 col-lg-12 col-sm-12 dashboardContent">
      <!-- first grid starts -->
      <div class="col-md-6 col-lg-6 col-sm-6 dashboardgrid1">
      <div class="dashboardHeader">
        <p class="dashboardHeading">Energy Analysis of Tenants</p>
        <ul class="dashboardList">
          <li>
            <span class="dayholder">
            <a class="daytoggle top-left-radius" href="javascript:void(0)" id="Energyday1" ng-click="week()">Weekly</a>
            <a href="javascript:void(0)" class="daytoggle top-right-radius" href="javascript:void(0)" id="Energyday2" ng-click="month()">Monthly</a>
            </span>

          </li>
          <li><img class="energy-refresh-icon" id="energy1" ng-src="{{base}}images/dashboard/refresh-icon.png" alt="" height="15px"/></li>
        </ul>
      </div>
      <div class="dashboardmaincontent">

            <div class="chart1" id="chart1"></div>
      </div>
      </div>
      <!-- first grid ends -->
      <!-- second grid ends -->
      <div class="col-md-6 col-lg-6 col-sm-6 dashboardgrid2">
        <div class="dashboardHeader">
          <p class="dashboardHeading">Cost Analysis of Tenants</p>
          <ul class="dashboardList">
            <li>
              <span class="dayholder">
              <a class="daytoggle top-left-radius" href="javascript:void(0)" id="Costday1" ng-click="weekCost()">Weekly</a>
              <a href="javascript:void(0)" class="daytoggle top-right-radius" href="javascript:void(0)" id="Costday2" ng-click="monthCost()">Monthly</a>
              </span>
            </li>
            <li><img class="cost-refresh-icon"  id="cost1" ng-src="{{base}}images/dashboard/refresh-icon.png" alt="" height="15px"/></li>
          </ul>
        </div>
          <div class="dashboardmaincontent">
          <div class="chart2" id="chart2"></div>
          </div>
      </div>
      <!-- second grid ends -->
    </div>
    <div class="col-md-12 col-lg-12 col-sm-12 dashboardContent">
      <!-- third grid starts -->
      <div class="col-md-6 col-lg-6 col-sm-6 dashboardgrid3 ">
        <div class="dashboardHeader">
          <p class="dashboardHeading">Outstanding</p>
          <ul class="dashboardList">
            <li>
              <span class="dayholder ">
              <a class="daytoggle complete-border" href="javascript:void(0)" >14 June 2016</a>

              </span>
            </li>
            <li><img class="edit-icon1" ng-src="{{base}}images/dashboard/edit1.png" alt="" height="22px"/></li>
          </ul>
        </div>
          <div class="dashboardmaincontent overflow">
                <div class="col-md-12 col-lg-12 col-sm-12 outstanding">
                  <div class="col-md-6 col-lg-6 col-sm-6 outstanding-left">
                       <div class="col-md-12 col-lg-12 col-sm-12">
                               <div class="col-md-6 col-sm-6 col-lg-6 left-circle-content">
                                <span class="left-circle-paid-text1">Paid Bill in %</span><br>
                                <span class="left-circle-paid-text2">Estimate time ~</span><br>
                                <span class="left-circle-paid-text3">2 months</span>
                               </div>
                               <div class="col-md-6 col-sm-6 col-lg-6 left-circle">
                                 <div class="circle1" id="graph1" data-percent="">
                                   </div>
                               </div>
                       </div>
                  </div>
                  <div class="col-md-6 col-lg-6 col-sm-6 outstanding-right">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                            <div class="col-md-6 col-sm-6 col-lg-6 right-circle-content">
                              <span class="right-circle-paid-text1">Unpaid Bill in %</span><br>
                              <span class="right-circle-paid-text2">Estimate time ~</span><br>
                              <span class="right-circle-paid-text3">2 months</span>
                            </div>
                            <div class="col-md-6 col-sm-6 col-lg-6 right-circle">
                              <div class="circle2" id="graph2" data-percent="">
                            </div>

                    </div>
                  </div>
                </div>
          </div>
          <!-- put for loop here -->
          <div>
        <div class="col-sm-12 col-md-12 col-lg-12 powermotor">
          <div class="col-sm-1 col-md-1 col-lg-1"><input type="checkbox" name="name" value=""></div>
          <div class="col-sm-1 col-md-1 col-lg-1 powermotortxt1"><img ng-src="{{base}}images/dashboard/green-dot.png" height="12px" alt=""></div>
            <div class="col-sm-8 col-md-8 col-lg-8 powermotortxt2"><span class="textbold">Meter Alert</span><br>
                  <span class="textnormal">Meter ID -123679 not responding</span>
            </div>
              <div class="col-sm-1 col-md-1 col-lg-1 powermotortxt3">view</div>
              <div class="col-sm-1 col-md-1 col-lg-1 powermotortxt4"><img ng-src="{{base}}images/dashboard/delete-icon.png" height="27px" /></div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 powermotor">
          <div class="col-sm-1 col-md-1 col-lg-1"><input type="checkbox" name="name" value=""></div>
          <div class="col-sm-1 col-md-1 col-lg-1 powermotortxt1"><img ng-src="{{base}}images/dashboard/red-dot.png" height="12px" alt=""></div>
            <div class="col-sm-8 col-md-8 col-lg-8 powermotortxt2"><span class="textbold">Bill Setup</span><br>
                  <span class="textnormal">Billing setup for Month of June is pending</span>
            </div>
              <div class="col-sm-1 col-md-1 col-lg-1 powermotortxt3">view</div>
              <div class="col-sm-1 col-md-1 col-lg-1 powermotortxt4"><img ng-src="{{base}}images/dashboard/delete-icon.png" height="27px" /></div>
        </div><div class="col-sm-12 col-md-12 col-lg-12 powermotor">
          <div class="col-sm-1 col-md-1 col-lg-1"><input type="checkbox" name="name" value=""></div>
          <div class="col-sm-1 col-md-1 col-lg-1 powermotortxt1"><img ng-src="{{base}}images/dashboard/gray-dot.png" height="12px" alt=""></div>
            <div class="col-sm-8 col-md-8 col-lg-8 powermotortxt2"><span class="textbold">Energy Consumption</span><br>
                  <span class="textnormal">High Energy Consumption alert  of 45000 KWH recorded</span>
            </div>
              <div class="col-sm-1 col-md-1 col-lg-1 powermotortxt3">view</div>
              <div class="col-sm-1 col-md-1 col-lg-1 powermotortxt4"><img ng-src="{{base}}images/dashboard/delete-icon.png" height="27px" /></div>
        </div><div class="col-sm-12 col-md-12 col-lg-12 powermotor">
          <div class="col-sm-1 col-md-1 col-lg-1"><input type="checkbox" name="name" value=""></div>
          <div class="col-sm-1 col-md-1 col-lg-1 powermotortxt1"><img ng-src="{{base}}images/dashboard/green-dot.png" height="12px" alt=""></div>
            <div class="col-sm-8 col-md-8 col-lg-8 powermotortxt2"><span class="textbold">Bill Payment</span><br>
                  <span class="textnormal">Diana Carlos Bill is pending from 2/05/2016 to 2/06/2016</span>
            </div>
              <div class="col-sm-1 col-md-1 col-lg-1 powermotortxt3">view</div>
              <div class="col-sm-1 col-md-1 col-lg-1 powermotortxt4"><img ng-src="{{base}}images/dashboard/delete-icon.png" height="27px" /></div>
        </div>
      </div>
        <!-- for loop ends here
            <div class="dummyContent">suraj</div>-->
      </div>
    </div>
      <!-- third grid ends -->
    <!-- fourth grid starts-->
    <div class="col-md-6 col-lg-6 col-sm-6 dashboardgrid4">
    <div class="dashboardmaincontent ">
      <div class="alarm-container  col-md-6 col-lg-6 col-sm-6">
       <div class="col-sm-12 col-md-12 col-lg-12 alarm-quicklinks-header">
      <div class="col-sm-4 col-md-4 col-lg-4 text-left no-padding">
        <img ng-src="{{base}}images/dashboard/alarms.png" alt="" height="22px" class="alarm">
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 text-center no-padding">Alarms</div>
      <div class="col-sm-4 col-md-4 col-lg-4 text-right no-padding">
        <img  ng-src="{{base}}images/dashboard/edit2.png" alt="" height="22px" class="edit-icon2">
      </div>
       </div>
       <div class="col-sm-12 col-md-12 col-lg-12 alarmcontent overflow">
         <!-- out for loop here for alarm notification -->
         <div class="col-sm-12 col-md-12 col-lg-12 alarm-notification">
           <div class="col-sm-1 col-md-1 col-lg-1"><input type="checkbox" name="name" value=""></div>
           <div class="col-sm-1 col-md-1 col-lg-1 alarm-notificationtxt1"><img ng-src="{{base}}images/dashboard/red-dot.png" height="12px" alt=""></div>
             <div class="col-sm-8 col-md-8 col-lg-8 alarm-notificationtxt2"><span class="textbold">Meter Alert</span><br>
                   <span class="textnormal">Meter ID -123679 not responding</span>...
             </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12 alarm-notification">
            <div class="col-sm-1 col-md-1 col-lg-1"><input type="checkbox" name="name" value=""></div>
            <div class="col-sm-1 col-md-1 col-lg-1 alarm-notificationtxt1"><img ng-src="{{base}}images/dashboard/green-dot.png" height="12px" alt=""></div>
              <div class="col-sm-8 col-md-8 col-lg-8 alarm-notificationtxt2"><span class="textbold">Bill Setup</span><br>
                    <span class="textnormal">Billing setup for Month of June is pending</span>...
              </div>
           </div>
           <div class="col-sm-12 col-md-12 col-lg-12 alarm-notification">
             <div class="col-sm-1 col-md-1 col-lg-1"><input type="checkbox" name="name" value=""></div>
             <div class="col-sm-1 col-md-1 col-lg-1 alarm-notificationtxt1"><img ng-src="{{base}}images/dashboard/red-dot.png" height="12px" alt=""></div>
               <div class="col-sm-8 col-md-8 col-lg-8 alarm-notificationtxt2"><span class="textbold">Energy Consumption</span><br>
                     <span class="textnormal">High Energy Consumption alert  of 45000 KWH recorded</span>...
               </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 alarm-notification">
              <div class="col-sm-1 col-md-1 col-lg-1"><input type="checkbox" name="name" value=""></div>
              <div class="col-sm-1 col-md-1 col-lg-1 alarm-notificationtxt1"><img ng-src="{{base}}images/dashboard/gray-dot.png" height="12px" alt=""></div>
                <div class="col-sm-8 col-md-8 col-lg-8 alarm-notificationtxt2"><span class="textbold">Bill Payment</span><br>
                      <span class="textnormal">Diana Carlos Bill is pending from 2/05/2016 to 2/06/2016</span>...
                </div>
             </div>
             <div class="col-sm-12 col-md-12 col-lg-12 alarm-notification">
               <div class="col-sm-1 col-md-1 col-lg-1"><input type="checkbox" name="name" value=""></div>
               <div class="col-sm-1 col-md-1 col-lg-1 alarm-notificationtxt1"><img ng-src="{{base}}images/dashboard/green-dot.png" height="12px" alt=""></div>
                 <div class="col-sm-8 col-md-8 col-lg-8 alarm-notificationtxt2"><span class="textbold">Invoice Attachment</span><br>
                       <span class="textnormal">Bill Generation for Kam Sharma Pending</span>...
                 </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12 alarm-notification">
                <div class="col-sm-1 col-md-1 col-lg-1"><input type="checkbox" name="name" value=""></div>
                <div class="col-sm-1 col-md-1 col-lg-1 alarm-notificationtxt1"><img ng-src="{{base}}images/dashboard/green-dot.png" height="12px" alt=""></div>
                  <div class="col-sm-8 col-md-8 col-lg-8 alarm-notificationtxt2"><span class="textbold">Meter Detail</span><br>
                        <span class="textnormal">Meter No 465321# is unassigned</span>...
                  </div>
               </div>
         <!-- out for loop here for alarm notification -->

       </div>
      </div>
      <div class="quick-links  col-md-6 col-lg-6 col-sm-6">
        <div class="col-sm-12 col-md-12 col-lg-12 alarm-quicklinks-header">
       <div class="col-sm-4 col-md-4 col-lg-4 text-left no-padding visibility-hidden">suraj</div>
       <div class="col-sm-4 col-md-4 col-lg-4 text-center no-padding">Quick Links</div>
       <div class="col-sm-4 col-md-4 col-lg-4 text-right no-padding visibility-hidden">suraj</div>
      </div>
      <div class=" col-sm-12 col-md-12 col-lg-12 quicklinksContent overflow">
          <ul class="quicklinkslist">
            <a ng-href="#/addTenant"><li class="quicklinksitems"><img src="{{base}}images/dashboard/ati.png"/> Add Tenant</li></a>
            <a href="javascript:void(0);"><li class="quicklinksitems"><img src="{{base}}images/dashboard/iac.png"/> Invoice Attachement</li></a>
            <a href="javascript:void(0);"><li class="quicklinksitems"><img src="{{base}}images/dashboard/upi.png"/> Updates Payment</li></a>
            <a href="javascript:void(0);"><li class="quicklinksitems"><img src="{{base}}images/dashboard/bsi.png"/> Bills Setup</li></a>
          </ul>
      </div>
      </div>
    </div>
    </div>
      <!-- fourth grid ends-->
  </div>
</div>
</div>
