<div header></div>
<div sidenav></div>
<div class="container-fluid dashboardContainer">
<div class="container-fluid dashboardContentHolder">
<div class="row tenantgridcontainer">
<div class="addtenantcontainer col-sm-12 col-md-12-col-lg-12">
<div class="addtenantheader col-sm-12 col-md-12 col-lg-12">
  <span>Add / edit Property</span>
  <img Class="pull-right" src="{{base}}images/dashboard/edit2.png" height="22px"/>
</div>
<div class="addtenantformholder col-sm-12 col-md-12 col-lg-12" style="padding-top:20px;">
                 <form name="addTenantForm">
                   <div class="col-sm-8 col-md-8 col-lg-8 col-md-offset-1 form-group">
                     <div class="row form-group">
                       <div class="col-sm-6 col-md-6 col-lg-6 text-right tenantmargin"><span class="tenantpadding  tenanttextcolor">Property Name</span></div>
                       <div class="col-sm-6 col-md-6 col-lg-6 tenantmargin">
                         <input  type="text" id="property_name" name="property_name" placeholder="" value="Property Company" class=" tenantform" required="" style="width:80%"/>
                        </div>
                      
                     </div>
					     <div class="row">
                       <div class="col-sm-6 col-md-6 col-lg-6 text-right tenantmargin"><span class="tenantpadding  tenanttextcolor">Property Address</span></div>
                       <div class="col-sm-6 col-md-6 col-lg-6 tenantmargin">
                          <textarea  type="text" id="tenantaddr" placeholder="203 options primo" name="tenantaddr" class="tenantform" required="" style="width:80%;padding-top:5px;resize:none">203 options primo</textarea>
                       </div>
                     
                                           
                     </div>
                   </div>

                  
                   <div class="col-sm-12 col-md-12 col-lg-12 text-center" style="margin-bottom:15px;">
                     <ul class="tenantform">
                       <li><a href="">save</a></li>
                          <li><a ng-href="#/propertymanagement">cancel</a></li>
                             <li><a ng-href="#/propertymanagement">close</a></li>
                     </ul>
                   </div>
                 </form>
</div>
</div>

</div>
</div>
</div>
