<div class="header">
  <ul class="logocontainer" >
    <li><img ng-src="{{base}}/images/dashboard/menuicon.png" alt="" class="menuLogo" /></li>
    <a ng-href="#/management" ><li><img ng-src="{{base}}/images/dashboard/dashboardlogo.png" alt="" class="dashboardlogo" /></li></a>
  </ul>
<ul class="management_navigation_holder" >
  <li class='nav_item'><button type="button" class="navbtn1" name="button">English</button></li>
  <li class='nav_item'><button type="button" class="navbtn" name="button" ng-click="logout()" >Log out</button></li>
</ul>
</div>
