 <div class="sidenav">
<ul>
<a ng-href="#/dashboard">  <li class="dashboard" id="dashboard"><span><img ng-src="{{base}}images/dashboard/dashboard.png" alt=""   class="sidenavicons"></span>Dashboard</li></a>
	<a ng-href="#/propertymanagement" >  <li class="dashboard" id="propertymanagement"><span><img ng-src="{{base}}images/dashboard/dashboard.png" alt=""   class="sidenavicons"></span>Property Management</li></a>
<a ng-href="#/tenant">  <li class="tenanticon"><span><img ng-src="{{base}}images/dashboard/tenanticon.png" alt=""  class="sidenavicons"></span>Tenant Management</li></a>
<a ng-href="javascript:void(0);">  <li class="energyanalysis"><span><img ng-src="{{base}}images/dashboard/energyanalysis.png"     class="sidenavicons"></span>Energy Analysis</li></a>
<a ng-href="javascript:void(0);">  <li class="costanalysis"><span><img ng-src="{{base}}images/dashboard/costanalysis.png"       class="sidenavicons"></span>Cost Analysis</li></a>
<a ng-href="#/tenantBill">  <li class="tenantbill"><span><img ng-src="{{base}}images/dashboard/tenantbill.png"         class="sidenavicons"></span>Tenant Bill</li></a>
<a ng-href="javascript:void(0);">  <li class="alarms"><span><img ng-src="{{base}}images/dashboard/alarms.png"             class="sidenavicons"></span>Alarms</li></a>
<a ng-href="javascript:void(0);">  <li class="meter-reading"><span><img ng-src="{{base}}images/dashboard/meter-reading.png"      class="sidenavicons"></span>Meter Reading</li></a>
<a ng-href="javascript:void(0);">  <li class="reports"><span><img ng-src="{{base}}images/dashboard/reports.png"            class="sidenavicons"></span>Reports</li></a>
</ul>
</div>
