<div header></div>
<div sidenav></div>
<div class="container-fluid dashboardContainer">
<div class="container-fluid dashboardContentHolder">
<div class="row tenantgridcontainer">
  <div class="tenantbilltablecontainer col-lg-12 col-md-12 col-sm-12">
  <div class="tenantbilltable col-lg-12 col-md-12 col-sm-12">
    <div class="tenantbilltableheader    blackbackground col-lg-12 col-md-12 col-sm-12">
                 <div class="tenantbillhead1">
                   <input class="tenantcheckbox" type="checkbox" />
                 </div>
                 <div class="tenantbillhead2 visibility-hidden">11</div>
                 <div class="tenantbillhead3">tenants</div>
                 <div class="tenantbillhead4">energy consumed</div>
                 <div class="tenantbillhead5">peak demand</div>
                 <div class="tenantbillhead6">rate</div>
                 <div class="tenantbillhead7">charge</div>
                 <div class="tenantbillhead8">
                   <ul class="tenatBillList">
                     <li>
                       <span class="tenantBilllistholder">
                         <a href="" class=" paidToggle1 top-left-radius" id="">from</a>
                         <a href="" class=" paidToggle1 top-right-radius" id="">18/04/2016</a>
                       </span>
                     </li>

                   </ul>
                 </div>
    </div>
    <div class="tenantbilltablecontanetcontainer overflow col-lg-12 col-md-12 col-sm-12">
         <!-- put for loop here -->
                 <div class="tenantbilltabledata col-sm-12 col-lg-12 col-md-12">
                   <div class="tenantbillhead1">
                     <input class="tenantcheckbox" type="checkbox" />
                   </div>
                   <div class="tenantbillhead2 ">1.</div>
                   <div class="tenantbillhead3">Eduardo Melnik</div>
                   <div class="tenantbillhead4">90 KwH</div>
                   <div class="tenantbillhead5">1.37 KwH</div>
                   <div class="tenantbillhead6">0.30 $</div>
                   <div class="tenantbillhead7">27 $</div>
                   <div class="tenantbillhead8">
                     <ul class="tenatBillList">
                       <li>
                         <span class="tenantBilllistholder">
                           <a href="" class=" paidToggle2 " id="">view</a>
                           <a href="" class=" paidToggle2 " id=""><img ng-src="{{base}}images/dashboard/delete-icon.png" height="25px" /></a>
                         </span>
                       </li>

                     </ul>
                   </div>
                 </div>

                 <div class="tenantbilltabledata col-sm-12 col-lg-12 col-md-12">
                   <div class="tenantbillhead1">
                     <input class="tenantcheckbox" type="checkbox" />
                   </div>
                   <div class="tenantbillhead2 ">2.</div>
                   <div class="tenantbillhead3">Kam Sharma</div>
                   <div class="tenantbillhead4">160 KwH</div>
                   <div class="tenantbillhead5">3.37 KwH</div>
                   <div class="tenantbillhead6">0.30 $</div>
                   <div class="tenantbillhead7">48 $</div>
                   <div class="tenantbillhead8">
                     <ul class="tenatBillList">
                       <li>
                         <span class="tenantBilllistholder">
                           <a href="" class=" paidToggle2 " id="">view</a>
                           <a href="" class=" paidToggle2 " id=""><img ng-src="{{base}}images/dashboard/delete-icon.png" height="25px" /></a>
                         </span>
                       </li>

                     </ul>
                   </div>
                 </div>
                 <div class="tenantbilltabledata col-sm-12 col-lg-12 col-md-12">
                   <div class="tenantbillhead1">
                     <input class="tenantcheckbox" type="checkbox" />
                   </div>
                   <div class="tenantbillhead2 ">3.</div>
                   <div class="tenantbillhead3">Razak</div>
                   <div class="tenantbillhead4">110 KwH</div>
                   <div class="tenantbillhead5">0.69 KwH</div>
                   <div class="tenantbillhead6">0.30 $</div>
                   <div class="tenantbillhead7">33 $</div>
                   <div class="tenantbillhead8">
                     <ul class="tenatBillList">
                       <li>
                         <span class="tenantBilllistholder">
                           <a href="" class=" paidToggle2 " id="">view</a>
                           <a href="" class=" paidToggle2 " id=""><img ng-src="{{base}}images/dashboard/delete-icon.png" height="25px" /></a>
                         </span>
                       </li>

                     </ul>
                   </div>
                 </div>
                 <div class="tenantbilltabledata col-sm-12 col-lg-12 col-md-12">
                   <div class="tenantbillhead1">
                     <input class="tenantcheckbox" type="checkbox" />
                   </div>
                   <div class="tenantbillhead2 ">4.</div>
                   <div class="tenantbillhead3">Diana Carlos</div>
                   <div class="tenantbillhead4">76 KwH</div>
                   <div class="tenantbillhead5">1.82 KwH</div>
                   <div class="tenantbillhead6">0.30 $</div>
                   <div class="tenantbillhead7">22.8 $</div>
                   <div class="tenantbillhead8">
                     <ul class="tenatBillList">
                       <li>
                         <span class="tenantBilllistholder">
                           <a href="" class=" paidToggle2 " id="">view</a>
                           <a href="" class=" paidToggle2 " id=""><img ng-src="{{base}}images/dashboard/delete-icon.png" height="25px" /></a>
                         </span>
                       </li>

                     </ul>
                   </div>
                 </div>
                 <div class="tenantbilltabledata col-sm-12 col-lg-12 col-md-12">
                   <div class="tenantbillhead1">
                     <input class="tenantcheckbox" type="checkbox" />
                   </div>
                   <div class="tenantbillhead2 ">5.</div>
                   <div class="tenantbillhead3">Elizabeth Sergio</div>
                   <div class="tenantbillhead4">116 KwH</div>
                   <div class="tenantbillhead5">3.03 KwH</div>
                   <div class="tenantbillhead6">0.30 $</div>
                   <div class="tenantbillhead7">34.8 $</div>
                   <div class="tenantbillhead8">
                     <ul class="tenatBillList">
                       <li>
                         <span class="tenantBilllistholder">
                           <a href="" class=" paidToggle2 " id="">view</a>
                           <a href="" class=" paidToggle2 " id=""><img ng-src="{{base}}images/dashboard/delete-icon.png" height="25px" /></a>
                         </span>
                       </li>

                     </ul>
                   </div>
                 </div>
                 <!-- put for loop here -- >
              <!--   <div class="dummyContent">suraj</div> -->
    </div>
  </div>
  <div class="tenantbillbottombuttons col-sm-12 col-lg-12 col-md-12">
    <ul class="footertenantbuttonlist">

        <li><a href="">bill</a></li>


        <li><a href="">cost analysis</a></li>

    </ul>
  </div>
  </div>
</div>
</div>
</div>
